* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: red;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 80%;
}

.main-area {
  margin-top: 15vh;
}


.button {
  font-size: 1.75vw;
  font-weight: bold;
}
